:root {
  --color-primary: #afbabc;
  --color-secondary: #9d8e82;
  --color-pale-blue: #e6e5de;
  --color-black: black;
  --color-white: white;
  --color-charcoal: #484442 ;
  --color-rust: #6c2506;
  --color-dark-teal: #01343e;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Playfair Display", serif;
}

html {
  font-family: var(--font-primary);
  font-weight: bold;
}

h1, h2 {
  font-family: var(--font-secondary);
  font-weight: bold;
  font-style: normal;
}

h3 {
  font-family: var(--font-secondary);
  font-weight: normal;
  color: var(--color-charcoal);
}

h4 {

}

h5 {

}

h6 {

}

ul, ol, dl {

}
