:root {
  --color-primary: #afbabc;
  --color-primary-light: #f4f6f7;
  --color-primary-dark: #01343e;
  --color-secondary: #6c2506;
  --color-secondary-light: #e6e5de;
  --color-secondary-dark: #484442;
  --color-black: black;
  --color-white: white;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Playfair Display", serif;
}

html {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: light;
}

h1 {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
  font-weight: bold;
}

h2 {
  font-family: var(--font-secondary);
  font-weight: bold;
}

h3 {
  font-family: var(--font-primary);
  color: var(--color-primary-dark);
  font-weight: bold;

}

h4 {
  font-family: var(--font-secondary);
  color: var(--color-primary-dark)
  font-weight: normal;
}

h5 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: bold;
}

h6 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 500;
}


ul, ol, dl {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
}

dt {
  font-weight: bold;
}

mark {
  background-color: var(--color-primary);
  font-weight: 400;
}

a {
  color: var(--color-secondary);
}

a:hover {
  font-weight: 600;
}

p {
  font-weight: normal;
}
