.btn {
  border: solid 3px;
  border-radius: 13px;
  font-weight: 500;
  padding: .5em 2em;
}

/** Sign up **/
.btn-basic {
  border: 0;
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
}

.btn-basic:hover {
  background-color: var(--color-primary);
  color: var(--color-primary-dark)
}

/** Shop **/
.btn-ghost {
  border: solid 2px;
  background-color: transparent;
  border-color: var(--color-primary-light);
  color: var(--color-primary-light);
}

.btn-ghost:hover {
  border: solid 2px;
  background-color: rgba(174, 186, 188, 0.5);
  border-color: var(--color-primary-light);
  color: var(--color-primary-light);
}

/** Cart **/
.btn-rust {
  border: 0;
  background-color: var(--color-secondary);
  color: var(--color-secondary-light);
}

.btn-rust:hover {
  background-color: var(--color-secondary-dark);
  color: var(--color-secondary-light);
}

/** Checkout **/
.btn-blue {
  border: 0;
  background-color: var(--color-primary);
  color: var(--color-primary-dark);
}

.btn-blue:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
}
