header {
  background-color: var(--color-primary-light);
}

nav a {
  color: var(--color-secondary);
  font-weight: 400;
}

nav a:hover {
  font-weight: 600;
}

i {
  max-width: 50px;
}

.icon-label {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}
