/** Intro Text **/

.intro-text {
  color: var(--color-secondary);
}

.intro-text p {
  font-weight: 400;
}

/** Text Chunk **/

.text-chunk {
  color: var(--color-secondary-dark);
}

/** Section Intro **/

.section-intro {
  color: var(--color-secondary-dark);
}

/** Banner Text **/

.banner-text {
  color: var(--color-primary-light);
}

/** Banner Text & Button**/

.banner-text {
  color: var(--color-primary-light);
}
