.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-secondary-light);
}

.btn:hover {
  background-color: var(--color-secondary-light);
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}
