.products-card {
  max-width: 200px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px 0px rgba(175,186,188,1);
}

.products-card img {
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  opacity: 50%;
}

a {
  text-decoration: none;
  color: var(--color-secondary-dark);
}

.products-card:hover img {
  opacity: 100;
}

.products-card:hover a {
  color: var(--color-secondary);
}

.push-three-quarters,
.push-3-4 {
  margin-bottom: .975rem;
}

.push-quarter,
.push-1-4 {
  margin-bottom: .325rem;
}
