/** Products Card **/
.products-card {
  max-width: 200px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px 0px rgba(175,186,188,1);
}

.products-card img {
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  opacity: 50%;
}

a {
  text-decoration: none;
  color: var(--color-secondary-dark);
}

.products-card:hover img {
  opacity: 100;
}

.products-card:hover a {
  color: var(--color-secondary);
}

.push {
  margin-bottom: 1.3rem;
}

.push-quarter,
.push-1-4 {
  margin-bottom: .325rem;
}

/** Image Card **/

.image-card .solid {
  position: relative;
  z-index: 0;
  width: 420px;
  height: 250px;
  border-radius: 50px;
  color: var(--color-secondary);
}

.image-card img {
  position: absolute;
  z-index: 1000;
  top: 6em;
  left: 6em;
  width: 420px;
  height: 250px;
  border-radius: 50px;
  box-shadow: -10px 10px 30px 0px rgba(0,0,0,0.35);
}

/** Product **/
.collection {
  color: var(--color-secondary-dark);
}

.product-name {
  color: var(--color-secondary-dark);
}

.price {
  color: var(--color-secondary);
}
