.banner {
  max-height: 800px;
}

.colour-1 {
  color: var(--color-primary-light);
}

.colour-2 {
  color: var(--color-secondary);
}

@media only screen and (min-width: 25em) {

  .banner-content {
    padding-left: 5em;
  }

}

@media only screen and (min-width: 70em) {

  .banner-content {
    padding-left: 2.5em;
  }


}
