.banner {
  background:
  linear-gradient(to top, rgba(11, 35, 40, 0.6),rgba(11, 35, 40, 0.6)) no-repeat center bottom,
  url("../images/banner.jpg") no-repeat center left / cover;
}

.banner-content {
  color: var(--color-primary-light);
}

@media only screen and (min-width: 38em) {

  .banner-content {
    padding-top: 5em;
    padding-bottom: 5em;
  }

}
