/** Checkout Card **/
.checkout-form {
  background-color: rgba(1, 52, 62, .5);
  color: var(--color-primary-light);
  border-radius: 50px;
  max-width: 600px;
}

fieldset {
  border-top: 0;
}

.legend {
  font-weight: lighter;
}

.flag-optional {
  color: var(--color-secondary);
}

input {
  background-color: rgba(174, 186, 188, 0.8);
  border: none;
  border-radius: 10px;
  height: 2.5em;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before,
.is-validated:invalid,
.is-validated[type="checkbox"] {
  border-color: #f33;
  boder-radius: 10px;
}

.error-message {
  display: none;
  background-color: rgba(174, 186, 188, 0.5);
  color: var(--color-secondary);
}

.error-message-highlighted {
  background-color: var(--color-secondary);
  color: #fff;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message {
  display: block;
}
